html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  font-family: Arial, sans-serif;
  background-color: #e2e2e2;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5CC535;
  padding: 10px;
  padding-top: 0px;
  height: 70px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-wrap: wrap;
}

.logo img {
  border-radius: 5px;
  height: 60px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a:hover {
  background-color: #ddd;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 16px;
  border-color: black;
  text-decoration: none;
}

.contact-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background-color: #eee;
  padding: 5px 5%;
  border-radius: 0px 0px 45px 45px;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
}

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
  }

  .Recover-box {
    background: #f0f0f0;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border: 1px solid #e0e0e0;
  }
  
  .Recover-box h2 {
    margin-bottom: 20px;
  }
  
  .Recover-box label {
    display: block;
    text-align: left;
    margin-top: 10px;
  }
  
  .Recover-box input[type="email"],
  .Recover-box input[type="text"],
  .Recover-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #66cc33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #5cbf2a;
  }
  
  /* Estilo para as etapas da recuperação de senha */
  #stepEmail, #stepCode, #stepNewPassword {
    display: block;
    align-content: center;
    margin-top: 20px;
  }
  
  #stepCode, #stepNewPassword {
    display: none;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 500;
  }
  
  #stepEmail input,
  #stepCode input,
  #stepNewPassword input {
    margin-top: 15px;
  }
  
  #stepCode button,
  #stepNewPassword button {
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 0.9em;
    margin-top: 10px;
  }
  
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    text-align: center;
    color: white;
    z-index: 100;
}

footer .redes a {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}
