/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: url('../../Imagens/juntaIMG.jpg') no-repeat center center fixed;
  background-size: cover;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5CC535;
  padding: 10px;
  padding-top: 0px;
  height: 65px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a:hover {
  background-color: #ddd;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 16px;
  border-color: black;
  text-decoration: none;
}

.contact-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background-color: #eee;
  padding: 5px 5%;
  border-radius: 0px 0px 45px 45px;
  width: 600px;
  max-width: 100%;
  box-sizing: border-box;
}

.logo img {
  border-radius: 5px;
  height: 60px;
  max-width: 100%;
}

/* Área principal centralizada */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

/* Caixa de login */
.login-box {
  background: #f0f0f0;
  padding: 15px 15px 15px 15px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-size: 0.9em;
}

.options a {
  color: blue;
  text-decoration: none;
}

.Registar{
  color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Entrar {
  background-color: #66cc33;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #5cbf2a;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

footer .redes a {
  color: white;
  margin: 0 5px;
  text-decoration: none;
}

footer .logos img {
  height: 55px;
  margin: 5px;
}
